<h1>General</h1>
  			<h2>Office Hours</h2>
  			<p>Instructor:</p>
  			<ul>
  				<li>MW 5:00 PM to 6:30 PM</li>
  			</ul>
  			<p>TA:</p>
  			<ul>
  				<li>ThF 11:00 AM to 12:00 PM</li>
  			</ul>

  			<ul class='list-unstyled'>
  				<li><a href='#'>Course News & Announcements</a></li>
  				<li><a href='#'>Introduce yourself</a></li>
  			</ul>
  			<hr>
  			<h2>Week 1</h2>
  			<ul class='list-unstyled'>
  				<li><a href='#'>Lecture slides</a></li>
  				<li><a href='#'>Homework</a></li>
  			</ul>
  			<hr>
  			<h2>Week 2</h2>
  			<ul class='list-unstyled'>
  				<li><a href='#'>Lecture slides</a></li>
  				<li><a href='#'>Homework</a></li>
  			</ul>
